{% extends 'game_app/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link type='text/css' rel="stylesheet" href="{% static 'game_app/css/general.css' %}" />
    <title>CHART</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawHISTO);
      google.charts.setOnLoadCallback(drawPIE);
      google.charts.setOnLoadCallback(drawLINE);

      function drawHISTO() {
        // Some raw data (not necessarily accurate)
        let arr = {{ histo }};
        arr.unshift(["Оценка", "Кол-во"]);
        var data = google.visualization.arrayToDataTable(arr);


      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" }]);

      var options = {
        title: "Распределение оценок на игры пользователя {{ user }}",
        bar: {groupWidth: "100%"},
        legend: { position: "none" },
        'hAxis':{'title':'Оценки'},
        'vAxis':{'title':'Количество'},
        width: 1300,
      };

        var chart = new google.visualization.ColumnChart(document.getElementById('gistogramm'));
        chart.draw(view, options);
      }

      function drawPIE() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([{% for key, value in pie.items %}
        ["{{ key }}", {{ value }}],{% endfor %}
        ]);

        // Set chart options
        var options = {'title':'Распределение платформ игр из библиотеки пользователя {{ user }}'};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('pie'));
        chart.draw(data, options);
      }

      function drawLINE() {
        var data = google.visualization.arrayToDataTable([
          ['Месяц', 'Кол-во игр'],{% for key, value in line.items %}
          ["{{key}}", {{ value }}],{% endfor %}
        ]);

        var options = {
          title: 'График выхода игр за {{ year }} год',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('line'));

        chart.draw(data, options);
      }


    </script>
{% endblock %}
{% block main %}
    <style>
        main
        {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            flex-direction: column;
        }

        main div
        {
            margin-bottom: 40px;
        }


    </style>
<main>
    <div id="gistogramm" style="width: 1300px; height: 700px;"></div>
    <div id="pie" style="width: 1100px; height: 500px;"></div>
    <div id="line" style="width: 1500px; height: 600px;"></div>
</main>
{% endblock %}
{% block js %}
{% endblock %}