{% extends 'game_app/base.html' %}
{% load static %}
{% block css %}
    <link type='text/css' rel="stylesheet" href="{% static 'game_app/css/rec.css' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Список рекомендаций</title>
{% endblock %}
{% block main %}

        <main>
            <div class="container">
                <div class="text">
                    <p><span>РЕКОМЕНДОВАНЫЕ ИГРЫ</span>, СОСТАВЛЕННЫЕ ПО ВАШЕЙ ЛИЧНОЙ БИБЛИОТЕКЕ ИГР.</p>
                    <p>В РАСЧЁТЕ УЧАВСТВОВАЛИ <span>ПОЛЬЗОВАТЕЛИ</span>, С КОТОРЫМИ У ВАС СХОЖИ ИНТЕРЕСЫ.</p>
                    <p>ПРИ ЭТОМ УЧИТЫВАЛИСЬ <span>ОТЗЫВЫ</span> НА КАЖДУЮ ИГРУ.</p>
                    <p>НАДЕЕМСЯ, ЧТО ВЫ ДОВОЛЬНЫ РЕКОМЕНДАЦИЯМИ</p>
                </div>
                <div class="content-container">
                    {% if not games %}
                    <div class="error">К СОЖАЛЕНИЮ, ИЗ-ЗА МАЛОГО КОЛИЧЕСТВА СОВПАДЕНИЙ, МЫ НЕ СМОГЛИ ПОДОБРАТЬ ВАМ РЕКОМЕНДАЦИИ</div>
                    {% else %}
                    <div class="content-selector">
                        <input type="radio" id="game-selector" name="selector">
                        <input type="radio" id="user-selector" name="selector">
                        <label for="game-selector" class="selected">ИГРЫ</label>
                        <label for="user-selector">ПОЛЬЗОВАТЕЛИ</label>
                    </div>
                    <div class="content">
                        <div id="games">
                        <ul>
                            {% for game in games %}
                                <li>
                                    <a href="{% url 'game' game.slug %}">
                                    <img src="https://images.igdb.com/igdb/image/upload/t_1080p/{{ game.cover }}.jpg">
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                        </div>
                        <div id="users" class="hidden">
                        <ul>
                            {% for user in users %}
                                <li>
                                    <a href="{% url 'profile' user.username %}">
                                        <img src="{{ user.profile.avatar.url }}">
                                        <h3>{{ user.username }}</h3>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>


        </main>
{% endblock %}
{% block js %}
    <script src="{% static 'game_app/js/rec.js' %}"></script>
{% endblock %}